/* #sidebar {
    transition: left 0.3s ease;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      left: -250px;
    }
    #sidebar.active {
      left: 0;
    }
  }
  
  #sidebar-toggle {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  @media (min-width: 769px) {
    #sidebar-toggle {
      display: none;
    }
  } */